[Desktop Entry]
Name=user01@nextcloud.example.com
GenericName=user01@nextcloud.example.com
Keywords=folder;manager;explore;disk;filesystem;Perso;
Exec=/usr/bin/nautilus -w davs://user01@nextcloud.example.com/remote.php/webdav
Icon=org.gnome.Nautilus
Terminal=false
Type=Application
DBusActivatable=true
StartupNotify=true
Categories=GNOME;GTK;Utility;Core;FileManager;Perso;RemoteAccess;
X-GNOME-UsesNotifications=true
