div.divtroubleshoot {
 background-color: #FFFFFF;
 align: center;
 width: 100vw;
}
table.tabletroubleshoot {
 border-style: solid;
 border-width: 0.01vw;
 border-color: black;
 width: 80vw;
 margin: auto;
}
tr.trtroubleshoot {
 padding: 0vw;
 margin: 0vw;
}
th.thtroubleshoot {
 background-color: #7580A9;
 color:white;
 text-align: center;
 font-family: courier;
 font-size: 1.71vh;
 font-size: 2.8vh;
}
td.tdtroubleshoot {
 text-align: left;
 font-family: courier;
 font-size: 2.6vh;
}

