[Match]
Name=brwan

[Network]
LinkLocalAddressing=no
DHCP=no
Address=192.168.0.2/24
Gateway=192.168.0.254
#DNS=192.168.0.254
#DNS=8.8.8.8
#Domains=example.com
#NTP=195.83.132.135
#Metric=10
#LLDP=yes
IPForward=yes
#ConfigureWithoutCarrier=yes

[Route]
Gateway=192.168.0.254
Destination=1.2.3.4/32

[Route]
Gateway=192.168.0.254
Destination=8.8.8.8/32

